.cv-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr min-content 7fr;
    grid-template-areas: "title"
                         "cont1"
                         "cont2"
                         "cont3";
}
    .cv-title-cont{
        height: 5em;
        grid-area: title;
        background-color: blueviolet;
    }
    .cv__cont1-container{
        grid-area: cont1;
        display: flex;
        flex-wrap: wrap;
        background-color: brown;
    }
        .profile__photo{
            width: 13em;
            height: 13em;
            background-color: bisque;
        }
    .cv__cont2-container{
        grid-area: cont2;
        background-color: cadetblue;
    }
    .cv__cont3-container{
        grid-area: cont3;
        background-color: darkseagreen;
    }