*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    /* transition: background-color 2700ms; */
}
:root{
    --colorbg1: rgb(40, 40, 40);
    --colorblock1: rgb(102, 102, 102);
    /* --colorblock1: rgb(178, 178, 178); */
    --colortext1: rgb(207, 207, 207);
    --colorside1: rgb(73, 73, 73);
    --colorbtn: rgb(0, 222, 255);
    --colorwb: rgb(255, 255, 255);




    /* --colorbtn: rgb(72, 255, 0); */
    /* VERDE FULL /OSCURO */
    --colorbtn3: rgb(0, 255, 153);
    /* VERDE AQUA /OSCURO */
    --colorbtn4: rgb(11, 218, 81);
    /* MALAQUITA /OSCURO */
    /* --colorbtn5: rgb(85, 100, 235); */
    /* MAJORELLE /CLARO */
    --colorbtn6: rgb(224, 176, 255);
    /* MALVA /OSCURO */
    --colorbtn7: rgb(234, 193, 2);
    /* ORO /OSCURO */
    --colorbtn8: rgb(252, 247, 94);
    /* ICTERINE /OSCURO */





}
.teme--dark{
    --colorbg1: rgb(40, 40, 40);
    --colorblock1: rgb(102, 102, 102);
    --colortext1: rgb(207, 207, 207);
    --colorside1: rgb(73, 73, 73);
    --colorbtn: rgb(0, 222, 255);
    --colorwb: rgb(255, 255, 255);
}
.teme--white{
    --colorbg1: rgb(231, 230, 230);
    --colorblock1: rgb(215, 241, 241);
    --colortext1: rgb(0, 0, 0);
    --colorside1: rgb(215, 241, 241);
    --colorwb: rgb(59, 59, 59);
}
.teme--btn-aqua{
    --colorbtn: rgb(0, 255, 153);
    /* VERDE AQUA /OSCURO */
}
.teme--btn-malaquita{
    --colorbtn: rgb(11, 218, 81);
    /* MALAQUITA /OSCURO */
}
.teme--btn-malva{
    --colorbtn: rgb(224, 176, 255);
    /* MALVA /OSCURO */
}
.teme--btn-coral{
    --colorbtn: rgb(253, 110, 134);
    /* CORAL /CLARO */
}
.teme--btn-oro{
    --colorbtn: rgb(234, 193, 2); 
}

.var--fontSN{
    font-family: 'Signika Negative', sans-serif;
}
.var--fontUB{
    font-family: 'Urbanist', sans-serif;
}
.var--fzlogo{
    font-size: 2.75em;
}
.var--fzsubmenu{
    font-size: 1.25em;
}
.var--cont1{
    font-size: 3.5em;
}
.var--text{
    color: white;
}
.var--text-black{
    color: black;
}
.var--bgc-btn{
    background-color: rgb(0, 222, 255);
}
.wh--100{
    width: 100%;
    height: 100%;
}
.var--center{
    display: flex;
    align-items: center;
    justify-content: center;
}



.body-menu{
    min-width: 100vh;
    min-height: 100vh;
    margin: 0;
    color: var(--colorwb);
    background-color: var(--colorbg1);
}




/* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */




.menu-sidebar{
    width: 100%;
    height: 4em;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-top: .25em solid var(--colorbtn);
    border-bottom: .25em solid var(--colorbtn);
    z-index: 10;
    background-color: var(--colorside1);
    transition: background-color 0ms;
}
.menu-sidebar--btn{
    background-color: var(--colorbtn);
}
    .m-s__logo{
        margin-left: .5em;
        font-size: 2.75em;
        font-weight: 700;
        transform: translate(0, -.13em);
        letter-spacing: .05em;
        cursor: pointer;
        transition: color 300ms;
        color: var(--colorwb);
    }
    .m-s__logo:hover{
        color: var(--colorbtn);
    }
    .m-s__logo:focus{
        color: var(--colorbtn);
    }
    .m-s__items{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2em;
        letter-spacing: .1em;
        cursor: default;
    }
    /* .m-s__items li{
        font-size: 1.25em;
    } */
    /* .m-s__items a{
        display: block;
    } */
        /* .ms-items__search-container{
            width: 2.25em;
            height: 2.25em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--colorblock1);
            cursor: pointer;
            transition: 600ms;
        }
            .ms-search__icon{
                fill: var(--colorwb);
                width: 1.75em;
            }
        .ms-items__search-container.active{
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(1em, 4em);
        } */
        .ms-items__float-btn{
            width: 2.75em;
            height: 2.75em;
            margin-left: 1em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--colorblock1);
            cursor: pointer;
            transition: fill 300ms, transform 300ms;
        }
        .ms-items__float-btn:hover .ms-items__float-svg{
            transform: scale(1.1);
            fill: var(--colorbtn);
            transition: fill 300ms, transform 300ms;
        }
        .ms-items__float-btn:hover .ms-items__float-svg--2{
            transform: scale(1.55) translateY(-.05em);
            fill: var(--colorbtn);
            transition: fill 300ms, transform 300ms;
        }
            .ms-items__float-svg{
                fill: var(--colorwb);
                width: 2.25em;
                transition: fill 300ms, transform 300ms;
            }
            .ms-items__float-svg--2{
                fill: var(--colorwb);
                transform: scale(1.4) translateY(-.05em);
                transition: fill 300ms, transform 300ms;
            }
        .ms-items__list{
            height: 4em;
            margin: 0 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0ms;
        }
        .ms-items__list--ghost{
            margin: 0.5em;
            height: min-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: background-color 0ms;
        }
        .ms-items__list__text::after{
            content: "";
            width: 0%;
            left: 50%;
            height: .12em;
            bottom: 0em;
            position: absolute;
            transition-duration: 400ms;
            transition-property: width, left;
            background-color: #fff;
            z-index: 1;
        }
        .ms-items__list:hover .ms-items__list__text::after{
            width: 100%;
            left: 0%;
        }
        .ms-items__list:hover .ms__sm__container--1{
            transform: translate(1em, 4em) scaleY(100%);
            /* transition: transform 1000ms, height 1000ms; */
        }
        .ms-items__list:focus .ms__sm__container--1{
            transform: translate(1em, 4em) scaleY(100%);
            /* transition: transform 1000ms, height 1000ms; */
        }
        .ms-items__list:hover .ms__sm__container--2{
            transform: translate(2em, 5em) scaleY(100%);
            /* transition: transform 1000ms, height 1000ms; */
        }
        .ms-items__list:focus .ms__sm__container--2{
            transform: translate(2em, 5em) scaleY(100%);
            /* transition: transform 1000ms, height 1000ms; */
        }
        .ms-items__list:hover .ms__sm__container--3{
            transform: translate(1em, 5em) scaleY(100%);
            /* transition: transform 1000ms, height 1000ms; */
        }
        .ms-items__list:focus .ms__sm__container--3{
            transform: translate(1em, 5em) scaleY(100%);
            /* transition: transform 1000ms, height 1000ms; */
        }
        /* .ms__sm__text--a:focus .ms__sm__container--1{
            transform: translateY(4.5em) scaleY(100%);
            transition: transform 800ms;
        } */
            .ms-items__list__text{
                font-size: 1.25em;
                position: relative;
                font-weight: 700;
            }
            .ms__sm__container{
                position: absolute;
                white-space: nowrap;
                transform-origin: top;
                border: .2em solid var(--colorbtn);
                border-top: .2em solid var(--colorside1);
                overflow: hidden;
                transition: transform 1000ms, height 1000ms;
                background-color: var(--colorside1);
            }
            .ms__sm__container--1{
                width: 6.5em;
                height: 4.5em;
                transform: translate(1em, 4em) scaleY(0%);
                transition: transform 1000ms, height 1000ms;
            }
            .ms__sm__container--2{
                width: 12em;
                height: 6.5em;
                transform: translate(2em, 5em) scaleY(0%);
                transition: transform 1000ms, height 1000ms;
            }
            .ms__sm__container--3{
                width: 11em;
                height: 6.5em;
                transform: translate(1em, 5em) scaleY(0%);
                transition: transform 1000ms, height 1000ms;
            }
            .ms__sm__ul-box{
                width: 100%;
                height: 100%;
                padding-left: .5em;
                display: flex;
                justify-content: start;
                align-items: stretch;
                flex-direction: column;
            }
                .ms__sm__li-box{
                    width: calc(100% - .5em);
                    height: 2em;
                    display: flex;
                    align-items: center;
                    /* background-color: chocolate; */
                }
                .ms__sm__li-box:hover .ms__sm__text--a{
                    color: var(--colorbtn);
                    transform: scale(1.05);
                    transition: transform 300ms, color 300ms;
                }
                .ms__sm__li-box:hover .ms__sm__text{
                    color: var(--colorbtn);
                    transform: scale(1.05);
                    transition: transform 300ms, color 300ms;
                }
                    .ms__sm__text--a{
                        color: var(--colorwb);
                        cursor: pointer;
                    }
                        .ms__sm__text{
                            font-size: 1.2em;
                            transition: transform 300ms, color 300ms;
                            cursor: pointer;
                            /* margin: .25em 0; */
                        }
    .mw-btn__menu{
        margin-right: 1em;
        height: 2.25em;
        display: none;
        cursor: pointer;
        fill: var(--colorwb);
    }
    .ms__search__container{
        width: 70%;
        /* max-width: 50em; */
        height: 3.5em;
        left: 50%;
        padding: .5em;
        margin-left: -35%;
        /* margin-top: 9em; */
        margin-top: 0em;
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-125%);
        transition: transform 800ms;
        z-index: 1;
        background-color: var(--colorblock1);
    }
    .ms__float__search--expand{
        transform: translateX(0);
        transition: transform 800ms;
    }
        /* .ms__search__box{
            width: 70%;
            max-width: 50em;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--colorblock1);
            background-color: aquamarine;
        } */
            .ms__search__input{
                width: 80%;
                height: 80%;
            }
            .ms__search__ok__btn{
                height: 80%;
                width: 6.5em;
                border-style: none;
                cursor: pointer;
                background-color: var(--colorside1);
            }
            .ms__search__ok__btn:hover .ms__search__ok__btn__text{
                transform: scale(1.1);
                color: var(--colorbtn);
                transition: transform 300ms, color 300ms;
            }
                .ms__search__ok__btn__text{
                    font-size: 1.45em;
                    color: var(--colorwb);
                    transition: transform 300ms, color 300ms;
                }
    .ms__notifications__container{
        width: 28em;
        /* height: 80%; */
        height: 30em;
        right: 0;
        /* margin-top: 38em; */
        margin-top: 1em;
        /* top: 50%; */
        /* margin-top: -16%; */
        position: fixed;
        border: .3em solid var(--colorbtn);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12% 76% 12%;
        grid-template-areas: "mntitle"
                             "mnbox"
                             "mnbtns";
        transform: translateX(100%);
        transition: transform 500ms;
        z-index: 1;
        background-color: var(--colorblock1);
    }
    .ms__notifications__container--expand{
        transform: translateX(0);
        transition: transform 500ms;
    }
        .ms__notifications__box__title{
            grid-area: mntitle;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--colorblock1);
        }
            .ms__n__title__text{
                font-size: 2.25em;
            }
        .ms__notifications__boxs__container{
            grid-area: mnbox;
            padding: 0 .75em;
            background-color: var(--colorblock1);
        }
            .ms__n__box__box{
                width: 100%;
                height: 100%;
                /* padding-bottom: .5em; */
                display: flex;
                overflow-y: scroll;
                flex-direction: column;
                border-top: .5em solid var(--colorside1);
                border-bottom: .5em solid var(--colorside1);
                background-color: var(--colorside1);
            }
            .ms__n__box__box::-webkit-scrollbar{
                width: .5em;
                border-radius: .25em;
                background-color: var(--colorbg1);
            }
            .ms__n__box__box::-webkit-scrollbar-thumb{
                border-radius: .25em;
                background-color: var(--colorbtn);
            }
                .ms__n__box__cont__container{
                    width: 100%;
                    height: 4.25em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 .5em;
                    margin-top: .5em;
                }
                .ms__n__box__cont__container--first{
                    margin-top: 0;
                }
                    .ms__n__box__cont{
                        width: 100%;
                        height: 4.25em;
                        overflow: hidden;
                        display: grid;
                        grid-template-columns: 1fr 5em;
                        grid-template-rows: 1.25em 3em;
                        grid-template-areas: "msntnsmt msnhour"
                                             "msntext msntext";
                        background-color: var(--colorblock1);
                    }
                        .ms__n__box__transmitter{
                            grid-area: msntnsmt;
                            padding: .25em;
                            font-size: 1.15em;
                            display: flex;
                            align-items: center;
                            text-decoration: underline;
                            /* background-color: cadetblue; */
                        }
                        .ms__n__box__hour{
                            grid-area: msnhour;
                            font-size: 1em;
                            display: flex;
                            justify-content: end;
                            align-items: baseline;
                            /* background-color: chocolate; */
                        }
                        .ms__n__more__btn__text--a{
                            color: var(--colorwb);
                        }
                        .ms__n__box__text{
                            grid-area: msntext;
                            padding: .25em .5em;
                            font-size: 1em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            /* background-color: dodgerblue; */
                        }
        .ms__notifications__box__btns{
            grid-area: mnbtns;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--colorblock1);
        }
            .ms__n__back__btn{
                width: 7.5em;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: var(--colorside1);
            }
            .ms__n__back__btn:hover .ms__n__back__btn__text{
                color: var(--colorbtn);
                transform: scale(1.1) translateY(-.075em);
                transition: transform 300ms, color 300ms;
            }
                .ms__n__back__btn__text{
                    font-size: 1.5em;
                    transform: translateY(-.1em);
                    transition: transform 300ms, color 300ms;
                }
            .ms__n__more__btn{
                width: 11em;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: var(--colorside1);
            }
            .ms__n__more__btn:hover .ms__n__more__btn__text{
                color: var(--colorbtn);
                transform: scale(1.1);
                transition: transform 300ms, color 300ms;
            }
                .ms__n__more__btn__text{
                    font-size: 1.5em;
                    transition: transform 300ms, color 300ms;
                }





    /* MODAL COLORS MODAL COLORS MODAL COLORS MODAL COLORS MODAL COLORS */




    .teme-color-selector{
        width: 20em;
        height: 60%;
        max-height: 25.5em;
        position: fixed;
        margin-top: 5em;
        display: flex;
        align-items: center;
        /* overflow-y: scroll; */
        border: .3em solid var(--colorbtn);
        justify-content: center;
        transform: translateX(-105%);
        transition: transform 500ms;
        z-index: 10;
        background-color: var(--colorblock1);
    }
    .show{
        transform: translateX(0);
        transition: transform 500ms;
    }
        .tcs__box{
            width: 90%;
            height: 95%;
            text-align: center;
    
            /* background-color: burlywood; */
        }
            .tcs__close-btn{
                width: 2.5em;
                height: 2.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 50%;
                transform: translate(17.25em, -2em);
                cursor: pointer;
                background-color: red;
            }
                .tcs__close-btn-span{
                    fill: var(--colorwb);
                    transform: scale(1.25);
                    transition: transform 300ms;
                }
                .tcs__close-btn-span:hover{
                    transform: scale(1.5);
                }
            .tcs__title{
                margin: .5em 0;
            }
                .tcs__h4{
                    font-size: 1.75em;
                    font-weight: 500;
                    text-decoration: underline;
                }
                .tcs__teme{
                    margin: .5em 0;
                    display: flex;
                    justify-content: space-around;
                }
                    .tcs--active{
                        transform: scale(1.1);
                        outline: .2em solid var(--colorbtn);
                    }
                    .tcs__t-light{
                        width: 40%;
                        justify-content: center;
                        font-size: 1.25em;
                        font-weight: 600;
                        cursor: pointer;
                        color: black;
                        transition: transform 300ms;
                        background-color: rgb(245, 245, 245);
                    }
                    .tcs__t-light:hover{
                        transform: scale(1.2);
                    }
                    .tcs__t-dark{
                        width: 40%;
                        font-size: 1.25em;
                        font-weight: 600;
                        cursor: pointer;
                        color: white;
                        transition: transform 300ms;
                        background-color: rgb(40, 40, 40);
                    }
                    .tcs__t-dark:hover{
                        transform: scale(1.2);
                    }
            .tcs__subtitle{
                height: 70%;
                overflow-y: scroll;
            }
            .tcs__subtitle::-webkit-scrollbar{
                width: .5em;
                border-radius: .25em;
                background-color: var(--colorbg1);
            }
            .tcs__subtitle::-webkit-scrollbar-thumb{
                border-radius: .25em;
                background-color: var(--colorbtn);
            }
                .tcs__colors{
                    margin: .5em 0;
                    font-size: 1.75em;
                    font-weight: 500;
                    text-decoration: underline;
                }
                    .tcs__colors-selectors{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                        .tcs-colors__boxs{
                            width: 80%;
                            padding-left: 1em;
                            margin-bottom: 1em;
                            display: flex;
                            flex-wrap: wrap;
                            text-align: start;
                            cursor: pointer;
                        }
    
                            .tcs-colors__cian{
                                border: .4em solid rgb(0, 222, 255);
                                border-right: 3em solid rgb(0, 222, 255);
                            }
                            .tcs-colors__aqua{
                                border: .4em solid rgb(0, 255, 153);
                                border-right: 3em solid rgb(0, 255, 153);
                            }
                            .tcs-colors__malaquita{
                                border: .4em solid rgb(11, 218, 81);
                                border-right: 3em solid rgb(11, 218, 81);
                            }
                            .tcs-colors__malva{
                                border: .4em solid rgb(224, 176, 255);
                                border-right: 3em solid rgb(224, 176, 255);
                            }
                            .tcs-colors__coral{
                                border: .4em solid rgb(253, 110, 134);
                                border-right: 3em solid rgb(253, 110, 134);
                            }
                            .tcs-colors__oro{
                                border: .4em solid rgb(252, 247, 94);
                                border-right: 3em solid rgb(252, 247, 94);
                            }
                                .tcs-h4__colors{
                                    font-weight: 300;
                                }
    
                            .tcs__point{
                                /* position: absolute; */
                                display: block;
                                width: 1em;
                                height: 1em;
                                border-radius: 50%;
                                transform: translate(-3em);
                                background-color: var(--colortext1);
                                cursor: default;
                            }
    





/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */




.menu-footer{
    height: 12em;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "find contact fhelp legal";
    letter-spacing: .05em;
    background-color: var(--colorblock1);
}
    .footer__find-us__container{
        grid-area: find;
    }
        .footer-title--container{
            margin-left: 1.5em;
            margin-top: 1em;
            cursor: default;
        }
    .footer__contact__container{
        grid-area: contact;
    }
        .footer__contact__container::before{
            content: '';
            width: .25em;
            height: 8.25em;
            transform: translate(25%, 25%);
            display: block;
            position: absolute;
            background-color: var(--colorbtn);
        }
    .footer__help__container{
        grid-area: fhelp;
    }
            .footer__help__container::before{
                content: '';
                width: .25em;
                height: 8.25em;
                transform: translate(25%, 25%);
                display: block;
                position: absolute;
                background-color: var(--colorbtn);
            }
    .footer__legal__container{
        grid-area: legal;
    }
            .footer__legal__container::before{
                content: '';
                width: .25em;
                height: 8.25em;
                transform: translate(25%, 25%);
                display: block;
                position: absolute;
                background-color: var(--colorbtn);
            }
        .footer-boxs__content{
            display: flex;
            flex-wrap: wrap;
            margin-left: 2em;
            width: 85%;
            height: 2.5em;
            cursor: default;
        }
                .svg__icon--1{
                    fill: var(--colorwb);
                    width: 1.5em;
                    transform: translate(.1em, 0em);
                }
                .svg__icon--1:hover{
                    fill: var(--colorbtn);
                }
                .svg__icon--2{
                    fill: var(--colorwb);
                    width: 1.6em;
                    transform: translateY(.45em .2em);
                }
                .svg__icon--2:hover{
                    fill: var(--colorbtn);
                }
            .footer__text{
                margin-left: 1em;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: var(--colorwb);
                transition: transform 300ms;
            }
            .footer__text--1{
                margin-left: 1.2em;
            }
            .footer__text:hover{
                transform: scale(1.1);
                color: var(--colorbtn);
            }
            .footer__icon{
                margin: 0;
                width: 1.75em;
                fill: var(--colorwb);
                display: flex;
                align-items: center;
            }
                .footer__icon:hover{
                    fill: var(--colorbtn);
                }
    .sub__footer{
        width: 100%;
        height: 2em;
        display: flex;
        align-items: center;
        font-family: monospace;
        font-size: 1.25em;
        background-color: var(--colorside1);
    }
        .sub__footer-cont1{
            width: 50%;
            display: flex;
            padding-left: 1em;
        }
            .sfc__icn__container{
                transform: translateY(.15em);
                width: 1.5em;
            }
                .sfc__icon{
                    width: 1.5em;
                    fill: var(--colorwb);
                }
            .sfc__text{
                transform: translate(.25em, .25em);
            }
        .sub__footer-cont2{
            width: 50%;
            display: flex;
            justify-content: end;
            margin-right: 1.9em;
        }
            .sfc__text1__container{
                width: 1.5em;
                transform: translateY(.15em);
            }
                .sfc__text1{
                    width: 1.5em;
                    fill: var(--colorwb);
                    margin-left: auto;
                    cursor: pointer;
                }
        .sfc__text2{
            transform: translate(.25em, .3em);
            cursor: pointer;
            transition: color 300ms;
        }
        .sfc__text2:hover{
            color: var(--colorbtn);
        }






    /* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */




@media screen and (max-width: 1006px){
    .m-s__items{
        margin-right: 0;
    }
}
@media screen and (max-width: 993px){
    .menu-footer{
        height: 21.25em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "find contact"
                             "fhelp legal";
    }
    .footer-title--container::after{
        content: '';
        display: block;
        width: 80%;
        height: .25em;
        transform: translateY(.1em);
        background-color: var(--colorbtn);
    }
    .footer__contact__container::before{
        display: none;
    }
    .footer__help__container::before{
        display: none;
    }
    .footer__legal__container::before{
        display: none;
    }
}
@media screen and (max-width: 956px){
    .menu-sidebar{
        height: 3em;
    }
    .m-s__logo{
        font-size: 2em;
        transform: translate(0, -.1em);
    }
    .ms-items__search-container{
        margin-top: .3em;
        height: 1.95em;
    }
        .ms__search__container{
            margin-top: -.5em;
        }
        .ms-items__list{
            margin: 0.5em;
            /* height: 2em; */
            height: min-content;
        }
            .ms-items__float-btn{
                width: 2.15em;
                height: 2.15em;
            }
            .ms-items__float-btn:hover .ms-items__float-svg--2{
                transform: scale(1.35) translateY(-.05em);
            }
                .ms-items__float-svg{
                    width: 1.85em;
                }
                .ms-items__float-svg--2{
                    transform: scale(1.2) translateY(-.05em);
                }


                .ms-items__list:hover .ms__sm__container--1{
                    transform: translate(1em, 3.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms-items__list:focus .ms__sm__container--1{
                    transform: translate(1em, 3.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms-items__list:hover .ms__sm__container--2{
                    transform: translate(2em, 4.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms-items__list:focus .ms__sm__container--2{
                    transform: translate(2em, 4.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms-items__list:hover .ms__sm__container--3{
                    transform: translate(1em, 4.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms-items__list:focus .ms__sm__container--3{
                    transform: translate(1em, 4.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }




                .ms-items__list__text{
                    font-size: 1.15em;
                }
                .ms__sm__container--1{
                    transform: translate(1em, 3.5em) scaleY(100%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms__sm__container--2{
                    transform: translate(2em, 4.5em) scaleY(0%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                .ms__sm__container--3{
                    transform: translate(1em, 4.5em) scaleY(0%);
                    /* transition: transform 1000ms, height 1000ms; */
                }
                        .ms__sm__text{
                            font-size: 1.05em;
                        }
            .sfc__icn__container{
                width: 1.5em;
                transform: translateY(.15em);
            }
}
@media screen and (max-width: 946px){
    .ms__search__container{
        margin-top: 3em;
    }
    .ms__notifications__container{
        margin-top: 5em;
    }
}
@media screen and (max-width: 878px){
    .sub__footer{
        height: 3em;
    }
        .sfc__text{
            transform: translate(0.25em, 0em);
        }
}
@media screen and (max-width: 813px){
}
@media screen and (min-width: 686px){
    .menu-sidebar{
        background-color: var(--colorside1);
    }
}
@media screen and (max-width: 685px){
    .menu-sidebar{
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .m-s__items{
        width: 100%;
        height: min-content;
        margin-top: 16.5em;
        position: absolute;
        flex-direction: column;
        align-items: center;
        border-bottom: .25em solid var(--colorbtn);
        transform: translateX(-100%);
        transform-origin: top;
        cursor: pointer;
        transition: transform 500ms;
        background-color: var(--colorside1);
    }
    .display--block1{
        display: block;
    }
        .active{
            transform: translateX(0);
            transform-origin: top;
            transition: transform 500ms;
        }
        .mw-btn__menu{
            display: block;
        }
        .ms__search__container{
            z-index: 10;
        }
        .ms-items__float-btn{
            margin-top: .5em;
        }
        .ms-items__list{
            flex-direction: column;
        }
            .ms__sm__container{
                position: relative;
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms-items__list:hover .ms__sm__container--1{
                height: 4.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms-items__list:focus .ms__sm__container--1{
                height: 4.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms-items__list:hover .ms__sm__container--2{
                height: 6.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms-items__list:focus .ms__sm__container--2{
                height: 6.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms-items__list:hover .ms__sm__container--3{
                height: 6.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms-items__list:focus .ms__sm__container--3{
                height: 6.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms__sm__container--1{
                width: 6.5em;
                /* height: 4.5em; */
                height: 0;
                transform: translate(0em, 0em) scaleY(0%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms__sm__container--2{
                width: 12em;
                /* height: 6.5em; */
                height: 0;
                transform: translate(0em, 0em) scaleY(0%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms__sm__container--3{
                width: 11em;
                /* height: 6.5em; */
                height: 0;
                transform: translate(0em, 0em) scaleY(0%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .display--block2{
                display: block;
            }
}
@media screen and (max-width: 679px){
    .body-menu{
        min-width: 0;
    }
    .menu-footer{
        max-width: 100%;
        height: 37.6em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "find"
                             "contact"
                             "fhelp"
                             "legal";
        justify-content: center;         
    }
    
        .footer-title--container::after{
            content: '';
            display: block;
            width: 60%;
            height: .25em;
            background-color: var(--colorbtn);
        }
            .footer-boxs__content{
                margin-left: 4em;
                width: 60%;
            }
}
@media screen and (max-width: 521px){
    .sub__footer{
        height: 5em;
        flex-direction: column;
        font-size: .9em;
    }
        .sub__footer-cont1{
                width: 100%;
                margin-bottom: .75em;
                transform: translateY(.5em);
            }
                .sfc__text{
                    transform: translate(.25em, .2em);
                }
        .sub__footer-cont2{
            width: 100%;
            justify-content: start;
            margin-right: 0;
            padding-left: 1em;
            /* transform: translate(1.7em, .25em); */
        }
            .sfc__text1__container{
                transform: translateY(0em);
            }
                .sfc__text1{
                    margin-left: 0;
                    transform: translateY(.25em);
                }
                .sfc__text2{
                    transform: translate(.25em, .35em);
                }
}
@media screen and (max-width: 437px){
    .menu-sidebar{
        height: 4.5em;
        border-top: .4em solid var(--colorbtn);
        border-bottom: .4em solid var(--colorbtn);
    }
    .m-s__items{
        /* height: 40em; */
        height: calc(100vh - 4.5em);
        justify-content: start;
        /* margin-top: 15em; */
        margin-top: 16.25em;
        /* margin-top: 10em; ANTERIOR */
        padding: 0;
        transform: translate(-100%, 14.75em);
    }
        .ms-items__list{
            /* height: 3em; */
            height: min-content;
        }
        .m-s__logo{
            margin-left: .25em;
            font-size: 3.5em;
            transform: translate(0,-.12em);
            }
            .active{
                transform: translate(0, 14.75em);
            }
        .ms-items__list:hover .ms-items__list__text::after{
            width: 0%;
            left: 50%;
        }
            .ms__sm__container--1--expand{
                height: 4.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms__sm__container--2--expand{
                height: 6.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
            .ms__sm__container--3--expand{
                height: 6.5em;
                transform: translate(0em, 0em) scaleY(100%);
                /* transition: transform 1000ms, height 1000ms; */
            }
    .mw-btn__menu{
        height: 2.25em;
        margin-right: .5em;
    }
    /* COLOR SELECT TEME */
    .teme-color-selector{
        width: 100%;
    }
    
}
@media screen and (max-width: 371px){
    .sub__footer{
        height: 6.5em;
    }
        .sub__footer-cont1{
            transform: translateY(.75em);
        }
            .sfc__text{
                width: 60%;
                transform: translate(.25em,0);
            }
        .sub__footer-cont2{
            transform: translateY(.75em);
        }
        .footer-boxs__content{
            margin-left: auto;
            margin-right: auto;
            width: 85%;
        }
            .footer__text{
                font-size: .75em;
            }
}
@media screen and (max-width: 264px){
    .sub__footer{
        height: 8em;
    }
}
@media screen and (max-width: 221px){
    .sub__footer{
        height: 9em;
    }
}
