.mts-btns__top__container{
    margin-top: 6em;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: end;
    align-items: center;
    letter-spacing: .1em;
    background-color: brown;
    }
        .mts-notifications__box{
            height: 3em;
            margin-right: 2em;
            display: flex;
            background-color: darkslategray;
        }
            .mts-send-cv__box{
                margin-right: 2em;
            }
                .mts-send-cv__btn{
                    width: 7.5em;
                    height: 3em;
                    border-radius: 1.3em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: darkgoldenrod;
                }
                    .mts-send-cv__text{
                        font-size: 1.3em;
                    }
            .mts-notifications__icon{
                font-size: 3em;
                color: gold;
            }
            /* 150px de promedio para el container del text y 208 para la foto */
.mts-profile__container{
    width: 90%;
    height: 15em;
    padding: 1em 6em;
    display: flex;
    margin: 0 auto;
    background-color: cornflowerblue;
}
    .mts-p__photo__container{
        width: 13em;
        height: 13em;
        background-color: darkorange;
    }
        .mts-p__photo__picture{
            width: 100%;
            height: 100%;
        }
    .mts-p__content{
        width: calc(100% - 14em);
        height: 13em;
        margin-left: 1em;
        background-color: tomato;
    }
        .mts-p-c__title__container{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: darkolivegreen;
        }
            .mts-p-c__title__h2{
                font-size: 1.8em;
                letter-spacing: .05em;
            }
        .mts-p-c__text__container{
            width: 100%;
            height: 80%;
            padding: .5em;
            background-color: darkorchid;
        }
            .mts-p-c__text__h3{
                letter-spacing: .05em;
            }
.mts-categories__container{
    width: 100%;
    height: min-content;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}
    .mts-c__box__container{
        width: 90%;
        height: 94%;
        background-color: var(--colorblock1);
    }
        .mts-c__title__container{
            width: 100%;
            height: 3em;
            padding: 0 3em;
            letter-spacing: .2em;
            background-color: midnightblue;
        }
            .mts-c__title{
                transform: translateY(-.1em);
                font-size: 2.5em;
            }
        .mts-c__cont-boxs{
            /* height: calc(100% - 3em); */
            height: min-content;
            margin-bottom: 2em;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: cornflowerblue;
        }
            .mts-c__box-1{
                width: 30%;
                min-width: 14em;
                max-width: 20em;
                height: 24em;
                margin: 1em 1em 2em 1em;
                background-color: green;
            }
                .mts-c__picture-1{
                    width: 100%;
                }
            .mts-c__box-2{
                width: 30%;
                min-width: 14em;
                max-width: 20em;
                height: 24em;
                margin: 1em 1em 2em 1em;
                background-color: gold;
            }
                .mts-c__picture-2{
                    width: 100%;
                }
            .mts-c__box-3{
                width: 30%;
                min-width: 14em;
                max-width: 20em;
                height: 24em;
                margin: 1em 1em 2em 1em;
                background-color: saddlebrown;
            }
                .mts-c__picture-3{
                    width: 100%;
                }
            .mts-c__box-4{
                width: 30%;
                min-width: 14em;
                max-width: 20em;
                /* height: 25.5em; */
                height: 24em;
                margin: 1em 1em 2em 1em;
                background-color: saddlebrown;
            }
                .mts-c__picture-4{
                    width: 100%;
                }
.mts-btns__botton__container{
    width: 90%;
    height: 4em;
    margin: 0 auto 2em auto;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: hotpink;
}
    .mts__report-market__box{
        width: 19em;
        height: 3em;
        margin-right: 1em;
        cursor: pointer;
    }
        .mts__report-market__btn{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: darkcyan;
        }
            .mts__report-market__text{
                font-size: 1.5em;
                letter-spacing: .05em;
            }
            .mts__report-market__text:hover{
                color: var(--colorbtn);
                transform: scale(1.1);
            }
