                         /* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */













    /* CONTENIDO DE MENU     CONTENIDO DE MENU    CONTENIDO DE MENU     CONTENIDO DE MENU */
 
.menu-container{
    width: 95%;
    height: 56em;
    margin: 4em auto 4em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr .65fr .65fr 23em .65fr;
    grid-template-areas: ". msb msb ."
                         "mbtb mbtb mpb mpb"
                         "motb motb mserb mserb"
                         "ads ads ads ads"
                         "mcmb mcmb mcmb mcmb";
    gap: 1em;
}
    .box__search{
        grid-area: msb;
        /* height: 5; */
        background-color: aquamarine;
    }                
    .principal__boxs{
        text-decoration: underline var(--colorbtn);
        font-size: 3.5em;
        font-weight: 600;
        background-color: var(--colorside1)
    }
    .box__bt{
        grid-area: mbtb;
        /* text-decoration: underline var(--colorbtn);
        font-size: 3.5em;
        font-weight: 600;
        background-color: var(--colorside1) */
    }
        .box__conts{
            transition: 300ms;
        }
        .box__conts:hover{
            color: var(--colorbtn);
            text-decoration: none;
            font-size: 3.75em;
            cursor: pointer;
            transition: font-size 300ms;
        }
        .box__conts:focus{
            color: var(--colorbtn);
            text-decoration: none;
            font-size: 4.25em;
            cursor: pointer;
            transition: font-size 300ms;
        }
    .box__products{
        grid-area: mpb;
        /* text-decoration: underline var(--colorbtn);
        font-size: 3.5em;
        font-weight: 600;
        background-color: var(--colorside1) */
    }
    .box__ot{
        grid-area: motb;
        /* text-decoration: underline var(--colorbtn);
        font-size: 3.5em;
        font-weight: 600;
        background-color: var(--colorside1) */
    }
    .box__services{
        grid-area: mserb;
        /* text-decoration: underline var(--colorbtn);
        font-size: 3.5em;
        font-weight: 600;
        background-color: var(--colorside1) */
    }
    .box__ads{
        grid-area: ads;
        display: flex;
        justify-content: center;
        background-color: var(--colorblock1)
    }
        .menu__ads-img{
                max-width: 80em;
                height: 100%;
            }
    .box__container-market{
        grid-area: mcmb;
        height: 13em;
        padding: 1.3em;
        display: grid;
        grid-template-columns: 1.5fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1.5fr; 
        grid-template-areas: "cmprofile cmtitle cmtitle cmtitle"
                             "cmprofile cmtitle cmtitle cmtitle"
                             "cmprofile . cmhorarios cmop";
        gap: 1em;
        letter-spacing: .1em;
        background-color: var(--colorblock1);
    }
        .cm-profile{
            grid-area: cmprofile;
            background-color: blueviolet;
        }
        .cm__title{
            grid-area: cmtitle;
            font-size: 2.5em;
        }
        .box-cm__horarios{
            grid-area: cmhorarios;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--colorside1);
        }
            .cm__horarios{
                font-size: 1.5em;
            }
        .cm__open-close__box{
            grid-area: cmop;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(28, 187, 22);
        }
            .cm__open-close{
                letter-spacing: .2em;
                font-weight: 600;
                font-size: 1.5em;
            }





        /* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */






@media screen and (max-width: 956px){
    .menu-container{
        margin-top: 3em;
    }
}
@media screen and (max-width: 946px){
    .menu-container{
        height: 60em;
        margin-top: 4em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr 1fr 1fr 18em 1.5fr;
        grid-template-areas: "msb msb msb msb"
                            "mbtb mbtb mbtb mbtb"
                            "motb motb motb motb"
                            "mpb mpb mpb mpb"
                            "mserb mserb mserb mserb"
                            "ads ads ads ads"
                            "mcmb mcmb mcmb mcmb";
    }
}

@media screen and (max-width: 664px){
    .menu-container{
        grid-template-columns: 0.25fr 1.75fr 1.75fr 0.25fr;
        grid-template-rows: .75fr 1fr 1fr 1fr 1fr 23em 1.5fr;
        grid-template-areas: "msb msb msb msb"
                            "mbtb mbtb mbtb mbtb"
                            "motb motb motb motb"
                            "mpb mpb mpb mpb"
                            "mserb mserb mserb mserb"
                            "ads ads ads ads"
                            "mcmb mcmb mcmb mcmb";
    }
    /* .m-s__logo{
        color: white;
    } */
}
@media screen and (max-width: 437px){
    .box__conts{
        font-size: 2em;
    }
    .box__conts:hover{
        font-size: 2.1em;
    }
}
