.profile{
    width: 100%;
    margin: 0 auto 2em auto;
    /* background-color: cadetblue; */
    background-color: var(--colorbg1);
}
    .profile-cont1{
        width: 100%;
        display: flex;
        margin-top: 6em;
        /* border-radius: 40% 0 0 40%; */
        /* background-color: crimson; */
        /* background-color: var(--colorbg1); */
    }
        .profile__avatar__container{
            margin-left: auto;
            border-radius: 50% 0 0 50%;
            background-color: var(--colorblock1);
        }
            .profile__avatar{
                width: 13em;
                height: 13em;
                /* margin-right: auto; */
                overflow: hidden;
                border-radius: 50%;
                background-color: cornflowerblue;
            }
                .ppi__img{
                    width: 100%;
                }
        .profile__personal-info__container{
            margin-right: auto;
            border-radius: 0 50% 50% 0;
            background-color: var(--colorblock1);
        }
            .profile__personal-info{
                width: 17em;
                height: 13em;
                border-radius: 0 7.25em 7.25em 0;
                transform: translateX(1em);
                background-color: forestgreen;
                background-color: var(--colorblock1);
            }
                .ppi__text{
                    height: 20%;
                    /* background-color: coral; */
                    /* background-color: var(--colorbg1); */
                }
                    .ppi-t__1{
                        transform: translateX(-1.25em);
                    }
                    .ppi-t__2{
                        transform: translateX(-.6em);
                    }
    .profile-cont2{
        width: 100%;
        height: 9em;
        display: flex;
        justify-content: space-around;
        transition: height 800ms;
        /* background-color: darkgreen; */
        background-color: var(--colorbg1);
    }
    .profile-cont2--expand--1{
        height: 15em;
        transition: height 400ms;
    }
    .profile-cont2--expand-2{
        height: 25em;
        transition: height 800ms;
    }



        /* BLOQUE DE CV BLOQUE DE CV BLOQUE DE CV BLOQUE DE CV */


        .profile__cv{
            width: 30%;
            height: 9em;
            display: flex;
            flex-direction: column;
            /* background-color: darkgoldenrod; */
            background-color: var(--colorbg1);
        }
            .profile__cv__box--top{
                width: 100%;
                height: 4em;
                margin-top: .5em;
                border-radius: 1.3em 1.3em 0 0;
                display: flex;
                justify-content: center;
                background-color: var(--colorblock1);
                z-index: 1;
            }
                .ps__line--2{
                    /* width: 20em; */
                    width: 80%;
                    height: .25em;
                    /* position: absolute; */
                    transform: translateY(3.75em);
                    /* background-color: var(--colorside1); */
                    background-color: var(--colorbtn);
                }
            /* .profile__cv__box--mid{
                width: 30%;
                height: min-content;
                position: absolute;
                transform: scaleY(0%) translateY(1.5em);
                inset-inline-start: top;
                background-color: var(--colorblock1);
                transition: transform 400ms;
                transform-origin: bottom center;
            }

            .profile__cv__box--mid--expand{
                transform: scaleY(100%) translateY(4.5em) ;
            } */
                /* .p__cv__edit{
                    height: 4em;
                    background-color: brown;
                } */
                                 



            .profile__cv__box--mid{
                width: 30%;
                height: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: translateY(4.5em);
                transition: height 400ms;
                background-color: var(--colorblock1);
                /* background-color: hotpink; */
            }

            .profile__cv__box--mid--expand{
                height: 6em;
                transform: translateY(4.5em);
                display: flex;
                flex-direction: column;
                transition: height 300ms;
            }
                .p__cv__edit{
                    font-size: 2em;
                    transform: translateY(.75em);
                    cursor: pointer;
                    transition: transform 300ms;
                }
                .p__cv__edit:hover{
                    transform: translateY(.75em) scale(1.1);
                    color: var(--colorbtn);
                }
                .ps__line--3{
                    width: 80%;
                    height: .25em;
                    z-index: 100;
                    margin-top: auto;
                    /* background-color: var(--colorbtn); */
                    background-color: var(--colorside1);
                }


            .profile__cv__box--botton{
                width: 100%;
                height: 4em;
                margin-bottom: .5em;
                border-radius: 0 0 1.3em 1.3em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--colorblock1);
                /* background-color: dodgerblue; */
                z-index: 0;
                transition: transform 400ms;
            }
            .profile__cv__box--botton--expand{
                transform: translateY(6em);
                align-items: center;
            }
                /* .p__btn__expand__container{
                    width: 3.25em;
                    height: 3.25em;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: var(--colorside1);
                }
                    .p__btn__expand{
                        fill: white;
                        transform: rotate(-90deg);
                        transition: transform 300ms;
                    }
                    .p__btn__expand:hover{
                        transform: rotate(-90deg) scale(1.1);
                        fill: var(--colorbtn);
                    }
                    .p__btn__expand--expand{
                        transform: rotate(45deg);
                        transition: transform 300ms;
                    }
                    .p__btn__expand--expand:hover.p__btn__expand{
                        transform: rotate(45deg) scale(1.1);
                    } */


        /* BLOQUE DE POSTULACIONES BLOQUE DE POSTULACIONES */


        .profile__postulations{
            width: 60%;
            height: 9em;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            /* background-color: darkorchid; */
            transition: transform 800ms;
            background-color: var(--colorbg1);
        }
            .profile__postulations__box__top{
                width: 100%;
                height: 4em;
                margin-top: .5em;
                border-radius: 1.3em 1.3em 0 0;
                display: flex;
                justify-content: center;
                background-color: var(--colorblock1);
                z-index: 1;
            }
        .profile__postulations__mid__container{
            width: 60%;
            height: min-content;
            position: absolute;
            display: flex;
            justify-content: end;
            background-color: var(--colorblock1);
        }
            .profile__postulations__box__mid{
                /* width: 60%; */
                width: 99.5%;
                height: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                align-items: center;
                transform: translate(-.5%, 4.5em);
                transition: height 800ms;
                background-color: var(--colorblock1);
                /* background-color: hotpink; */
            }
            .profile__postulations__box__mid::-webkit-scrollbar{
                width: .5em;
                border-radius: .25em;
                background-color: var(--colorbg1);
            }
            .profile__postulations__box__mid::-webkit-scrollbar-thumb{
                border-radius: .25em;
                background-color: var(--colorbtn);
            }
            .profile__postulations__box__mid--expand{
                height: 16em;
                /* transform: translateY(4.5em); */
                transform: translate(-.5%, 4.5em);
                display: flex;
                overflow-y: scroll;
                flex-direction: column;
                transition: height 700ms;
            }
            .profile__postulations__box__mid--expand::-webkit-scrollbar{
                width: .5em;
                border-radius: .25em;
                background-color: var(--colorbg1);
            }
            .profile__postulations__box__mid--expand::-webkit-scrollbar-thumb{
                border-radius: .25em;
                background-color: var(--colorbtn);
            }
                .p_p_cont__container{
                    width: 100%;
                    /* height: 10em; */
                    margin-top: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* background-color: goldenrod; */
                }
                    .p_p_box{
                        width: 96%;
                        height: 9em;
                        display: flex;
                        overflow: hidden;
                        border-radius: 1.3em;
                        background-color: var(--colorside1);
                    }
                        .p_p_photo__container{
                            width: min-content;
                            max-width: 12em;
                            height: 100%;
                            /* background-color: darkcyan; */
                        }
                            .p__p__photo{
                                height: 100%;
                                width: min-content;
                                border-radius: 1.3em 0 0em 1.3em;
                                padding: .5em 0 .5em .5em;
                            }
                        .p_p_text__container{
                            width: 100%;
                            height: 100%;
                            padding: .5em;
                            font-weight: 300;
                            letter-spacing: .05em;
                            /* background-color: crimson; */
                            background-color: var(--colorside1);
                        }
                            .p__p__owner__name{
                                height: 10%;
                                display: flex;
                                justify-content: center;
                                /* background-color: var(--colorside1); */
                            }
                            .p__p__text__title{
                                width: 98%;
                                height: 25%;
                                padding: .1em .25em;
                                font-size: 1.4em;
                                font-weight: 500;
                                overflow: hidden;
                                /* white-space: nowrap; */
                                text-decoration: underline solid var(--colorbtn);
                                /* background-color: var(--colorside1); */
                            }
                            .p__p__text__text{
                                width: 98%;
                                height: 65%;
                                padding: .3em;
                                overflow: hidden;
                                font-weight: 500;
                                letter-spacing: .05em;
                                /* background-color: darkgreen; */
                                /* background-color: var(--colorside1); */
                            }
                .p__p__space-scroll__container{
                    width: .5%;
                    height: 0;
                    position: absolute;
                    /* margin-left: auto; */
                    /* flex-direction: column; */
                    /* overflow-y: scroll; */
                    /* align-items: center; */
                    transform: translateY(4.5em);
                    transition: height 800ms;
                    background-color: var(--colorblock1);
                }
                .p__p__space-scroll__container--expand{
                    height: 16em;
                    /* transform: translateX(-.5%); */
                    /* transform: translate(-.5%, 4.5em); */
                    /* display: flex; */
                    /* overflow-y: scroll; */
                    /* flex-direction: column; */
                    transition: height 700ms;
                }
            .profile__postulations__box__botton{
                width: 100%;
                height: 4em;
                margin-bottom: .5em;
                border-radius: 0 0 1.3em 1.3em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--colorblock1);
                /* background-color: dodgerblue; */
                z-index: 0;
                transition: transform 800ms;
            }
            .profile__postulations__box__botton--expand{
                transform: translateY(16em);
                align-items: center;
            }
                /* .p__btn__expand__container{
                    width: 3.25em;
                    height: 3.25em;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: var(--colorside1);
                }
                    .p__btn__expand{
                        fill: white;
                        transform: rotate(-90deg);
                        transition: transform 300ms;
                    }
                    .p__btn__expand:hover{
                        transform: rotate(-90deg) scale(1.1);
                        fill: var(--colorbtn);
                    }
                    .p__btn__expand--expand{
                        transform: rotate(45deg);
                        transition: transform 300ms;
                    }
                    .p__btn__expand--expand:hover.p__btn__expand{
                        transform: rotate(45deg) scale(1.1);
                    } */


    .profile-cont3{
        width: 100%;
        height: 9em;
        display: flex;
        justify-content: space-around;
        transition: height 800ms;
        background-color: fuchsia;
        background-color: var(--colorbg1);
    }
    .profile-cont3--expand--1{
        height: 15em;
        transition: height 400ms;
    }
    .profile-cont3--expand--2{
        height: 25em;
        transition: height 800ms;
    }
        /* .profile__my-markets{
            width: 60%;
            height: 10em;
            background-color: greenyellow;
            background-color: var(--colorbg1);
        } */
            .profile__my-markets{
                width: 60%;
                height: 9em;
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                /* background-color: darkseagreen; */
                background-color: var(--colorbg1);
            }
                .profile__mm__box--top{
                    width: 100%;
                    height: 4em;
                    margin-top: .5em;
                    border-radius: 1.3em 1.3em 0 0;
                    display: flex;
                    justify-content: center;
                    background-color: var(--colorblock1);
                    z-index: 1;
                }
                .profile__mm__mid__container{
                    width: 60%;
                    height: min-content;
                    position: absolute;
                    display: flex;
                    justify-content: end;
                    background-color: var(--colorblock1);
                }
                    .profile__mm__box--mid{
                        /* width: 60%; */
                        width: 99.6%;
                        /* width: 99.5%; ERROR */
                        height: 0;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        overflow-y: scroll;
                        align-items: center;
                        transform: translate(-.5%, 4.5em);
                        transition: height 800ms;
                        background-color: var(--colorblock1);
                        /* background-color: hotpink; */
                    }
                    .profile__mm__box--mid::-webkit-scrollbar{
                        width: .5em;
                        border-radius: .25em;
                        background-color: var(--colorbg1);
                    }
                    .profile__mm__box--mid::-webkit-scrollbar-thumb{
                        border-radius: .25em;
                        background-color: var(--colorbtn);
                    }
                    .profile__mm__box--mid--expand{
                        height: 16em;
                        /* transform: translateY(4.5em); */
                        transform: translate(-.5%, 4.5em);
                        display: flex;
                        overflow-y: scroll;
                        flex-direction: column;
                        transition: height 700ms;
                    }
                    .profile__mm__box--mid--expand::-webkit-scrollbar{
                        width: .5em;
                        border-radius: .25em;
                        background-color: var(--colorbg1);
                    }
                    .profile__mm__box--mid::-webkit-scrollbar-thumb{
                        border-radius: .25em;
                        background-color: var(--colorbtn);
                    }
                    .p__mm__space-scroll__container{
                        width: .5%;
                        height: 0;
                        position: absolute;
                        transform: translateY(4.5em);
                        transition: height 800ms;
                        background-color: var(--colorblock1);
                    }
                    .p__mm__space-scroll__container--expand{
                        height: 16em;
                        transition: height 700ms;
                    }
                        .p__mm__mm__box__container{
                            width: 100%;
                            height: 8em;
                            padding: 0 2%;
                            margin-top: 1em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            /* background-color: crimson; */
                            background-color: var(--colorblock1);
                        }
                            .p__mm__mm__profile-img__container{
                                /* width: 36%; */
                                width: min-content;
                                max-width: 15em;
                                height: 100%;
                                padding: .25em;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 1.3em 0 0 1.3em;
                                background-color: darksalmon;
                                background-color: var(--colorside1);
                            }
                                .p__mm__mm__profile-img__img{
                                    /* width: 100%; */
                                    height: 100%;
                                    border-radius: 1.3em 0 0 1.3em;
                                    overflow: hidden;
                                    /* background-color: cadetblue; */
                                }
                            .p__mm__mm__title{
                                width: 96%;
                                /* height: 6em; */
                                height: 8em;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: .5em;
                                border-radius: 0 1.3em 1.3em 0;
                                transition: border-radius 300ms;
                                transition-delay: .2s;
                                /* background-color: darkseagreen; */
                                background-color: var(--colorside1);
                            }
                            .p__mm__mm__title:hover .p__mm__mm__text{
                                color: var(--colorbtn);
                                transition: color 300ms;
                            }
                            .p__mm__mm__title--expand{
                                border-radius: 0 1.3em 0 0;
                                transition: border-radius 200ms;
                            }
                                .p__mm__mm__text{
                                    font-size: 1.85em;
                                    transition: color 300ms;
                                }
                        .p__mm__mm__expand__box__container{
                            height: min-content;
                            /* height: 0; */
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            font-size: 0%;
                            transition: font-size 300ms;
                        }
                        .p__mm__mm__expand__box__container--expand{
                            font-size: 100%;
                            transition: font-size 200ms;
                        }
                            .p__mm__mm__options__container{
                                height: 0em;
                                margin-right: calc(100% - 98%);
                                display: flex;
                                /* transform: scaleY(0%); */
                                transition: height 300ms;
                                flex-direction: column;
                            }
                            .p__mm__mm__options__container--expand{
                                /* transform: scaleY(100%); */
                                height: 15.5em;
                                transition: height 300ms;
                                /* transition: transform 300ms; */
                            }
                                .p__mm__mm__recive-cv{
                                    width: 80%;
                                    height: 0;
                                    margin-left: auto;
                                    display: flex;
                                    justify-content: space-around;
                                    border-radius: 0;
                                    transition: height 300ms;
                                    /* background-color: cornflowerblue; */
                                    background-color: var(--colorside1);
                                }
                                .p__mm__mm__recive-cv--expand{
                                    height: 4.5em;
                                    transition: height 300ms;
                                }
                                .p__mm__mm__option__text{
                                    width: 40%;
                                    max-width: 20em;
                                    height: 0;
                                    display: flex;
                                    justify-content: center;
                                    transition: height 300ms;
                                    align-items: center;
                                    cursor: default;
                                    /* background-color: thistle; */
                                    background-color: var(--colorside1);
                                }
                                .p__mm__mm__option__text--expand{
                                    height: 4.5em;
                                    transition: height 300ms;
                                }
                                    .p__mm__mm__option__text__text{
                                        font-size: 1.5em;
                                    }
                                .p__mm__mm__option__btns{
                                    width: 50%;
                                    max-width: 20em;
                                    height: 0;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;
                                    transition: height 300ms;
                                    /* background-color: seagreen; */
                                    background-color: var(--colorside1);
                                }
                                .p__mm__mm__option__btns--expand{
                                    height: 4.5em;
                                    transition: height 300ms;
                                }
                                    .p__mm__mm__option__torf{
                                        width: 35%;
                                        height: 50%;
                                        max-height: 4em;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        cursor: pointer;
                                        background-color: var(--colorblock1);
                                    }
                                    .p__mm__mm__option__torf:hover .p__mm__mm__option__torf__text{
                                        color: var(--colorbtn);
                                        transform: scale(1.1);
                                        transition: color 300ms, transform 300ms;
                                    }
                                        .p__mm__mm__option__torf__text{
                                            font-size: 1.25em;
                                            transition: color 300ms, transform 300ms;
                                        }
                                .p__mm__mm__dats-maps{
                                    width: 80%;
                                    height: 4.5em;
                                    margin-left: auto;
                                    border-radius: 0;
                                    /* background-color: chocolate */
                                    background-color: var(--colorside1);
                                }
                                .p__mm__mm__delete-my-market{
                                    width: 80%;
                                    height: 6.5em;
                                    margin-left: auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 0 0 1.3em 1.3em;
                                    /* background-color: green */
                                    background-color: var(--colorside1);
                                }
                                    .p__mm__mm__delete-my-market__container{
                                        width: 60%;
                                        height: 75%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 1.3em;
                                        cursor: pointer;
                                        background-color: var(--colorblock1);
                                    }
                                    .p__mm__mm__delete-my-market__container:hover .p__mm__mm__delete-mm{
                                        transform: scale(1.1);
                                        transition: transform 300ms;
                                        color: var(--colorbtn);
                                    }
                                        .p__mm__mm__delete-mm{
                                            font-size: 1.75em;
                                            transition: transform 300ms;
                                        }



                .profile__mm__box--botton{
                    width: 100%;
                    height: 4em;
                    margin-bottom: .5em;
                    border-radius: 0 0 1.3em 1.3em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: var(--colorblock1);
                    /* background-color: dodgerblue; */
                    z-index: 0;
                    transition: transform 800ms;
                }
                .profile__mm__box--botton--expand{
                    /* transform: translateY(16em); ERROR */
                    transform: translateY(15.9em);
                    align-items: center;
                }
                .p__btn__expand__container{
                    width: 3.25em;
                    height: 3.25em;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: var(--colorside1);
                }
                    .p__btn__expand{
                        fill: white;
                        transform: rotate(-90deg);
                        transition: transform 300ms;
                    }
                    .p__btn__expand:hover{
                        transform: rotate(-90deg) scale(1.1);
                        fill: var(--colorbtn);
                    }
                    .p__btn__expand--expand{
                        transform: rotate(45deg);
                        transition: transform 300ms;
                    }
                    .p__btn__expand--expand:hover.p__btn__expand{
                        transform: rotate(45deg) scale(1.1);
                    }
            .ps__line--4{
                /* width: 20em; */
                width: 80%;
                height: .25em;
                /* position: absolute; */
                transform: translateY(0em);
                /* background-color: var(--colorside1); */
                background-color: var(--colorbtn);
            }  




        .profile__certifications{
            width: 30%;
            height: 9em;
            display: flex;
            flex-direction: column;
            /* background-color: tomato; */
            transition: transform 800ms;
            background-color: var(--colorbg1);
        }
            .profile__cer__box--top{
                width: 100%;
                height: 4em;
                margin-top: .5em;
                border-radius: 1.3em 1.3em 0 0;
                display: flex;
                justify-content: center;
                background-color: var(--colorblock1);
                z-index: 1;
            }
                .p__title-boxs{
                    position: absolute;
                    transform: translateY(.1em);
                    cursor: default;
                    font-size: 3em;
                }
                .ps__line--2{
                    /* width: 20em; */
                    width: 80%;
                    height: .25em;
                    /* position: absolute; */
                    transform: translateY(3.75em);
                    /* background-color: var(--colorside1); */
                    background-color: var(--colorbtn);
                }            

            .profile__cer__box--mid{
                width: 30%;
                /* width: 0; */
                height: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: translateY(4.5em);
                transition: height 400ms;
                background-color: var(--colorblock1);
                /* background-color: hotpink; */
            }

            .profile__cer__box--mid--expand{
                /* width: 30%; */
                height: 6em;
                transform: translateY(4.5em);
                display: flex;
                flex-direction: column;
                /* transition: height 300ms, width 800ms; */
            }
            /* .profile__cer__box--mid--expand--expand{
                width: 100%;
                transition: width 800ms;
            } */
                .p__cer__cooming{
                    font-size: 2em;
                    transform: translateY(.75em);
                    cursor: default;
                    transition: transform 300ms;
                }
                /* .p__cer__cooming:hover{
                    transform: translateY(.75em) scale(1.1);
                    color: var(--colorbtn);
                } */
            .profile__cer__box--botton{
                width: 100%;
                height: 4em;
                margin-bottom: .5em;
                border-radius: 0 0 1.3em 1.3em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--colorblock1);
                /* background-color: dodgerblue; */
                z-index: 0;
                transition: transform 400ms;
            }
            .profile__cer__box--botton--expand{
                transform: translateY(6em);
                align-items: center;
            }
    .profile__space{
        margin: 2em 0 2em 0;
        display: flex;
        justify-content: center;
    }
        .ps__line{
            width: 80%;
            height: .25em;
            background-color: var(--colorblock1);
            /* background-color: var(--colorbtn); */
        }





        /* MEDIAS  */




@media screen and (max-width: 1060px){
        .p__title-boxs{
            font-size: 2.5em;
        }
}
@media screen and (max-width: 900px){
    .profile-cont2{
        height: 18em;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }
        .profile-cont2--expand--1{
            height: 24em;
        }
        .profile-cont2--expand-2{
            height: 34em;
        }
        .profile-cont2--expand--3{
            height: 40em;
        }
            .profile__cv{
                margin-left: auto;
                margin-right: auto;
            }

                .profile__cv__box--mid{
                    transition: height 800ms;
                }
                .profile__cv__box--mid--expand{
                    transition: height 600ms;
                }
                .profile__cv__box--botton{
                    transition: transform 700ms;
                }
            .profile__postulations{
                margin-left: auto;
                margin-right: auto;
            }
                .profile__postulations__mid__container{
                    width: 100%;
                }
        /* .profile__postulations__mid__container--expand{
            width: 100%;
        } */
        /* .profile__cer__box--mid--expand--expand{
            width: 100%;
            transition: width 800ms;
        } */
            .profile__postulations--media{
                transform: translateY(6em);
                position: absolute;
                transition: transform 800ms;
            }

    .profile-cont3{
        height: 17em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

        .profile-cont3--expand--1{
            height: 23em;
        }
        .profile-cont3--expand--2{
            height: 33em;
        }
        .profile-cont3--expand--3{
            height: 39em;
        }
            .profile__my-markets{
                width: 100%;
            }
                .profile__mm__box--top{
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .profile__mm__mid__container{
                    width: 70%;
                    left: 50%;
                    margin-left: -35%;
                }
                    .profile__mm__box--botton{
                        width: 70%;
                        margin-left: auto;
                        margin-right: auto;
                    }
            .profile__certifications{
                width: 100%;
            }

                .profile__certifications--media{
                    transform: translateY(16em);
                    transition: transform 800ms;
                }
                .profile__p--media{
                    transform: translateY(6em);
                    transition: transform 800ms;
                }
                .profile__cer__box--top{
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .profile__cer__box--mid{
                    width: 50%;
                    left: 50%;
                    margin-left: -25%;
                }
                .profile__cer__box--botton{
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
            
}